<h1>Categorías</h1>
<a href="/categorias/create">Crear Nueva Categoría</a>

<h2>Lista de Categorías</h2>
<Table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% categorias.forEach(function(categoria) { %>
      <tr>
        <td><%= categoria.id %></td>
        <td><%= categoria.nombre %></td>
        <td>
          <a href="/categorias/<%= categoria.id %>">Ver</a>
          <a href="/categorias/edit/<%= categoria.id %>">Editar</a>
          <a href="/categorias/showdelete/<%= categoria.id %>">Eliminar</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</Table>
